
<form action="/user/uploadsheet" method="POST">
<label for="filename">Select a file:</label>
<input type="file" id="filename" name="filename">


    <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>

</form>

